// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.elementor-widget-streamtube_posts_elementor .widget-title.d-flex.align-items-center {
  font-weight: 600;
}

.robototoboto {
  color: red;
}.robototobotods {
  color: red;
}